[Unit]
Description=elasticsearch_exporter for delivering metrics for Prometheus
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User={{ elasticsearch_exporter.service_user }}
Group={{ elasticsearch_exporter.service_group }}
ExecStart={{ elasticsearch_exporter.bin_dir }}/elasticsearch_exporter --es.uri=http://{{ elasticsearch_exporter.elasticsearch_uri }} \
{% if elasticsearch_exporter.options is defined -%}
{% for options in elasticsearch_exporter.options -%}
--{{ options+" " }}
{%- endfor %}
{%- endif %}
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
